<form method="POST" action="/courses/store">
  <div class="mb-3">
    <label for="nameCourse" class="form-label">Tên khoá học</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên khoá học">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Mô tả</label>
    <input type="textarea" class="form-control" id="description" name="description" placeholder="Mô tả khoá học">
  </div>
  <button type="submit" class="btn btn-primary">Thêm</button>
</form>