<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <div class="">
      <a class="navbar-brand" href="/">
        <img src="/img/icon.webp" alt="" class="logo">
        HuyHomePage
        
      </a>
    </div>

    {{#if isAuthenticated}}
      <div class="dropdown  ml-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{user.userName}}
          
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="/me/stored/courses">My Courses</a>
          </li>
          <li>
            <a class="dropdown-item" href="/courses/create">Thêm khoá học</a>
          </li>
          <li>
            <form action="/auth/logout" method="POST">
              <button type="submit" class="dropdown-item">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    {{else}}
      <div class="row flex">
        <div class="col col-lg-6 col-md-6 col-sm-12">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginForm">
            Login
          </button>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerForm">
            Register
          </button>
        </div>
      </div>
    {{/if}}
  </div>
</nav>

{{!-- Modal register --}}
<div class="modal fade" id="registerForm" tabindex="-1" aria-labelledby="registerFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="align-self-center" action="/auth/register" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="registerFormLabel">Đăng ký tài khoản</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="usernamelRegister" class="form-label">Username: </label>
            <input type="text" class="form-control" id="usernameRegister" name="userName" placeholder="Username">
          </div>
          <div class="mb-3">
            <label for="emailRegister" class="form-label">Email: </label>
            <input type="email" class="form-control" id="emailRegister" name="email" placeholder="Email">
          </div>
          <div class="mb-3">
            <label for="passwordRegister" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordRegister" name="passWord" placeholder="Password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{!-- Modal login --}}
<div class="modal fade" id="loginForm" tabindex="-1" aria-labelledby="loginFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="align-self-center" action="/auth/login" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="loginFormLabel">Đăng nhập</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="emailLogin" class="form-label">Email: </label>
            <input type="email" class="form-control" id="emailLogin" name="email" placeholder="Email">
          </div>
          <div class="mb-3">
            <label for="passwordLogin" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordLogin" name="passWord" placeholder="Password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>